INST "top_inst" AREA_GROUP = "pblock_top_inst";
AREA_GROUP "pblock_top_inst" RANGE=SLICE_X0Y162:SLICE_X161Y239, SLICE_X88Y118:SLICE_X161Y161, SLICE_X0Y0:SLICE_X161Y117;
AREA_GROUP "pblock_top_inst" RANGE=DSP48_X4Y0:DSP48_X7Y95, DSP48_X0Y66:DSP48_X3Y95, DSP48_X0Y0:DSP48_X3Y45;
AREA_GROUP "pblock_top_inst" RANGE=RAMB18_X4Y0:RAMB18_X8Y95, RAMB18_X0Y66:RAMB18_X3Y95, RAMB18_X0Y0:RAMB18_X3Y45;
AREA_GROUP "pblock_top_inst" RANGE=RAMB36_X4Y0:RAMB36_X8Y47, RAMB36_X0Y33:RAMB36_X3Y47, RAMB36_X0Y0:RAMB36_X3Y22;
#AREA_GROUP "pblock_top_inst" PLACE=closed;
INST "fip_inst" AREA_GROUP = "pblock_fip";
AREA_GROUP "pblock_fip" RANGE=SLICE_X0Y122:SLICE_X71Y157;
AREA_GROUP "pblock_fip" RANGE=DSP48_X0Y50:DSP48_X3Y61;
AREA_GROUP "pblock_fip" RANGE=RAMB18_X0Y50:RAMB18_X3Y61;
AREA_GROUP "pblock_fip" RANGE=RAMB36_X0Y25:RAMB36_X3Y30;
#AREA_GROUP "pblock_fip" PLACE=closed;
INST "fip_inst/mb_sys_inst/mb_sys_i/clock_generator_0/clock_generator_0/MMCM1_INST/MMCM_ADV_inst" LOC = MMCM_ADV_X0Y6;
